<aspire-datatable [headers]="tableHeaders" [records]="tableData" [tableStyle]="'table table-striped table-bordered'"
    [headerStyle]="''" [tableDiv]="''" [tableRowStyle]="''" [tableDataStyle]="''" [pageSize]="5" [page]="10" [ellipses]="true" [maxSize]="10" [directionLinks]="true" [boundaryLinks]="true" [allowSorting]="true"
    [allowSearch]="true">
</aspire-datatable>

<!-- separate pagination component-->
<aspire-pagination
 [showPagination]="false"
 [totalItems]="totalRecords"
 [maxVisiblePage]="3"
 [itemsPerPage]="itemsPerPage"
 [ellipsis]="true"
 [directionLinks]="true"
 [ariaLabel]="'Default pagination'"
>
</aspire-pagination>